/* Import der Schriftart*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Lato */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap'); /*Playfair*/

/* All */
* {
    background-color: #fafafa;
    font-family: "Lato", sans-serif;
}

/* Grid */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% auto auto auto auto 10%;
    grid-template-areas: 
    '. header header .'
    '. hej hej .'
    '. about about .'
    '. skills skills .'
    '. interests interests .'
    '. footer footer .';
}

/* Logo */
.logo {
    cursor: pointer;
    height: auto;
    max-width: 13%;
    margin-right: auto;
    margin-left: 0px;
    
}

li, a, button {
    font-family:  "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    text-decoration: none; 
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    opacity: 0.8;

}

/* Navigation */
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding:  0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #ff9d8e;
}

/* Hej */
.hej {
    grid-area: hej;
    margin-top: 300px;
    margin-left: 330px;
    }

/* About-Section */
.about {
    grid-area: about;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
}

.about h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 50px;
}

/* Skills-Section */
.skills {
    grid-area: skills;
    margin-bottom: 200px;   
}

.skills h1{
    text-align: center;
}

.skills img {
        margin-right:10px;
        width: 66px;
}

.skills-row {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 10px 10px;
}

.skills-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}


/* Interests-Section */
.interests {
    grid-area: interests;
    margin-bottom: 40px;   
}

.interests h1{
    text-align: center;
}

.interests img {
        margin-right:10px;
        width: 63px;
}

.interests-row {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 10px 10px;
}

.interests-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}


/* Footer */
.footer {
    grid-area: footer;
    list-style: none;
    margin-top: 50px;
}

.footer li {
    display: inline-block;
    padding:  0px 20px;
}

.footer li a {
    transition: all 0.3s ease 0s;
}

.footer li a:hover {
    color: #ff9d8e;
}
